<header>
    <div class="banner">
        <img src="marvel616.jpg">
    </div>
    <div class="nav">
        <ul>
            <li>Home</li>
            <li>Profile</li>
        </ul>
    </div>
</header>