<header>
    <div class="banner">
        <img src="marvel616.jpg">
        <div class="text">
            <img src="opal.png" id="logo">
        </div>
    </div>
    <div class="nav">
        <a href="/home">Home</a>
        <a method="GET" href="./" id="right">Sign Out</a>
        <a href="/profile" id="right">Profile</a>
    </div>
</header>