<form method="POST">
    <fieldset>
        <legend>
            Login 
        </legend>
        <input type="text" name="username" value="username">
        <br>
        <input type="text" name="password" value="password">
        <br>
        <input type="submit" value="Log In">
    <fieldset>
</form>