<body>
    <%= erb :'partials/header2' %> 
    <form method="POST" class="centered">
        <fieldset>
            <legend>
                Login 
            </legend>
            <input type="text" name="username" value="username">
            <br>
            <input type="password" name="password" value="password">
            <br>
            <input type="submit" value="Log In"> 
        </fieldset>
    </form>
    <%= erb :'partials/footer' %> 
</body>