<div class="forms">
    <form method="POST" id="signupbox">
        <fieldset>
            <legend>
                Sign Up
            </legend>
            <input type="text" name="first_name" value="first name" required>
            <br>
            <input type="text" name="last_name" value="last name" required>
            <br>
            <input type="text" name="email" value="email" required>
            <br>
            <input type="text" name="gender" value="gender">
            <br>
            <input type="text" name="birthday" value="birthday" required>
            <br>
            <input type="text" name="password" value="password" required>
            <br>
            <input type="text" name="username" value="username" required>
            <br>
            <input type="submit" value="Sign Up" class="click">
        </fieldset>
    </form>
</div>